.profile-card {
  @include size(20%, 100%);
  @include customScroll(5px, 6px, $primary-color, transparent);
  border: 1px solid $black-20;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  .card-header {
    @include size(100%, auto);
    @include centerFlex-y;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid $black-20;
    .gender-box {
      @include size(100%, auto);
      @include centerFlex-y;
      justify-content: space-evenly;
      .svg-icon {
        @include size(18px);
        fill: $black-40;
        &.-active {
          fill: $secondary-color;
        }
      }
    }
    .image-fluid {
      @include size(150px);
      @include radius(150px);
      overflow: hidden;
      border: 1px solid $secondary-color;
      + .user-main-info {
        margin-top: 20px;
      }
    }
    .user-main-info {
      text-align: center;
    }
    .user-name {
      font-size: 24px;
    }
  }
  .user-descript {
    padding: 20px 20px;
    p {
      padding-bottom: 10px;
    }
  }
  .outline-link {
    margin: 20px;
    margin-right: auto;
  }
}

.userlist {
  @include size(20%, 100%);
  @include customScroll(2px, 0px, $primary-color, transparent);
  border: 1px solid $black-20;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  .list-item {
    @include size(100%, auto);
    @include centerFlex-y;
    border-bottom: 1px solid $black-20;
    padding: 10px 20px;
    .list-image {
      @include size(40px);
      @include radius(40px);
      border: 1px solid $secondary-color;
      overflow: hidden;
      + p {
        margin-left: 10px;
      }
    }
  }
}
