@keyframes loading-warning {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

@keyframes loadingCard {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loadingCardContainer {
  0% {
    opacity: 0;
    transform: translateY(400px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes loadingDotDot {
  0% {
    content: ".";
  }
  50% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

@keyframes loadingSVG {
  0% {
    transform: rotate(0deg);
    opacity: .4;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1;

  }
  100% {
    opacity: .4;
    transform: rotate(360deg);
  }
}

@keyframes loadingOpacity {
  0% {
    opacity: .4;
  }
  50% {
    opacity: 1;

  }
  100% {
    opacity: .4;
  }
}
